In [14]:
# Dependecies
import pandas as pd

In [15]:
# Read the file
superstore = "Superstore.xls"
superstore_df = pd.read_excel(superstore)

In [16]:
superstore_df.head(2)

,Order Date,Ship Date,Ship Mode,Segment,City,State,Code,Latitude,Longitude,Region,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2013-11-09,2013-11-12,Second Class,Consumer,Henderson,Kentucky,KY,37.66814,-84.670067,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2013-11-09,2013-11-12,Second Class,Consumer,Henderson,Kentucky,KY,37.66814,-84.670067,South,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [17]:
Superstore = superstore_df[["City", "State", "Code", "Latitude", "Longitude", "Category", "Sales", "Profit"]]
Superstore

,City,State,Code,Latitude,Longitude,Category,Sales,Profit
0,Henderson,Kentucky,KY,37.668140,-84.670067,Furniture,261.960,41.9136
1,Henderson,Kentucky,KY,37.668140,-84.670067,Furniture,731.940,219.5820
2,Los Angeles,California,CA,36.116203,-119.681564,Office Supplies,14.620,6.8714
3,Concord,North Carolina,NC,35.630066,-79.806419,Office Supplies,15.552,5.4432
4,Seattle,Washington,WA,47.400902,-121.490494,Office Supplies,407.976,132.5922
5,Fremont,Nebraska,NE,41.125370,-98.268082,Office Supplies,19.460,5.0596
6,Fremont,Nebraska,NE,41.125370,-98.268082,Office Supplies,60.340,15.6884
7,Philadelphia,Pennsylvania,PA,40.590752,-77.209755,Furniture,71.372,-1.0196
8,Los Angeles,California,CA,36.116203,-119.681564,Office Supplies,11.648,4.2224
9,Los Angeles,California,CA,36.116203,-119.681564,Technology,90.570,11.7741
10,Houston,Texas,TX,31.054487,-97.563461,Office Supplies,29.472,9.9468
11,Richardson,Texas,TX,31.054487,-97.563461,Technology,1097.544,123.4737
12,Richardson,Texas,TX,31.054487,-97.563461,Furniture,190.920,-147.9630
13,Naperville,Illinois,IL,40.349457,-88.986137,Technology,147.168,16.5564
14,Los Angeles,California,CA,36.116203,-119.681564,Office Supplies,77.880,3.8940
15,Melbourne,Florida,FL,27.766279,-81.686783,Office Supplies,95.616,9.5616
16,Eagan,Minnesota,MN,45.694454,-93.900192,Technology,45.980,19.7714
17,Eagan,Minnesota,MN,45.694454,-93.900192,Office Supplies,17.460,8.2062
18,Dover,Delaware,DE,39.318523,-75.507141,Technology,45.000,4.9500
19,Dover,Delaware,DE,39.318523,-75.507141,Technology,21.800,6.1040
20,New York City,New York,NY,42.165726,-74.948051,Office Supplies,15.260,6.2566
21,New York City,New York,NY,42.165726,-74.948051,Technology,1029.950,298.6855
22,Troy,New York,NY,42.165726,-74.948051,Office Supplies,208.560,52.1400
23,Troy,New York,NY,42.165726,-74.948051,Office Supplies,32.400,15.5520
24,Troy,New York,NY,42.165726,-74.948051,Furniture,319.410,7.0980
25,Troy,New York,NY,42.165726,-74.948051,Office Supplies,14.560,6.9888
26,Troy,New York,NY,42.165726,-74.948051,Technology,30.000,3.3000
27,Troy,New York,NY,42.165726,-74.948051,Office Supplies,48.480,16.3620
28,Troy,New York,NY,42.165726,-74.948051,Office Supplies,1.680,0.8400
29,Springfield,Virginia,VA,37.769337,-78.169968,Office Supplies,75.880,35.6636
...,...,...,...,...,...,...,...,...
5869,Indianapolis,Indiana,IN,39.849426,-86.258278,Office Supplies,2405.200,793.7160
5870,Indianapolis,Indiana,IN,39.849426,-86.258278,Technology,83.970,15.9543
5871,Indianapolis,Indiana,IN,39.849426,-86.258278,Technology,39.890,14.7593
5872,Indianapolis,Indiana,IN,39.849426,-86.258278,Office Supplies,17.380,8.6900
5873,Chandler,Arizona,AZ,33.729759,-111.431221,Office Supplies,9.344,1.8688
5874,Florence,Kentucky,KY,37.668140,-84.670067,Technology,18.000,3.2400
5875,Newark,Delaware,DE,39.318523,-75.507141,Furniture,13.400,6.4320
5876,Newark,Delaware,DE,39.318523,-75.507141,Office Supplies,4.980,2.3406
5877,Newark,Delaware,DE,39.318523,-75.507141,Office Supplies,109.690,51.5543
5878,Plainfield,New Jersey,NJ,40.298904,-74.521011,Office Supplies,40.200,18.0900
5879,Plainfield,New Jersey,NJ,40.298904,-74.521011,Office Supplies,735.980,331.1910
5880,Plainfield,New Jersey,NJ,40.298904,-74.521011,Office Supplies,22.750,6.5975
5881,Houston,Texas,TX,31.054487,-97.563461,Office Supplies,99.568,33.6042
5882,Los Angeles,California,CA,36.116203,-119.681564,Technology,271.960,27.1960
5883,Los Angeles,California,CA,36.116203,-119.681564,Office Supplies,18.690,5.2332
5884,Los Angeles,California,CA,36.116203,-119.681564,Office Supplies,13.360,6.4128
5885,Los Angeles,California,CA,36.116203,-119.681564,Technology,249.584,31.1980
5886,Los Angeles,California,CA,36.116203,-119.681564,Office Supplies,13.860,0.0000
5887,Los Angeles,California,CA,36.116203,-119.681564,Office Supplies,13.376,4.6816
5888,Los Angeles,California,CA,36.116203,-119.681564,Office Supplies,437.472,153.1152
5889,Fairfield,Ohio,OH,40.388783,-82.764915,Office Supplies,16.520,5.3690
5890,Grand Rapids,Michigan,MI,43.326618,-84.536095,Office Supplies,35.560,16.7132
5891,Grand Rapids,Michigan,MI,43.326618,-84.536095,Technology,97.980,27.4344
5892,Los Angeles,California,CA,36.116203,-119.681564,Technology,36.240,15.2208
5893,Athens,Georgia,GA,33.040619,-83.643074,Technology,79.990,28.7964
5894,Athens,Georgia,GA,33.040619,-83.643074,Technology,206.100,55.6470
5895,Costa Mesa,California,CA,36.116203,-119.681564,Furniture,91.960,15.6332
5896,Costa Mesa,California,CA,36.116203,-119.681564,Technology,258.576,19.3932
5897,Costa Mesa,California,CA,36.116203,-119.681564,Office Supplies,29.600,13.3200
5898,Westminster,California,CA,36.116203,-119.681564,Office Supplies,243.160,72.9480

In [18]:
# SQLAlchemy dependencies 

# To create engine & declarative base 
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

# For data types
from sqlalchemy import Column, Integer, String, Float, Date

# Create base
Base = declarative_base()

In [19]:
Base.metadata.clear()
# Creates Classes which will serve as the anchor points for our Tables
class Orders(Base):
    __table_args__ = {'extend_existing': True}
    __tablename__ = 'Orders'
    index = Column(String, primary_key=True)
    City = Column(String(255),nullable=True)
    State = Column(String(255),nullable=True)
    Code = Column(String(255),nullable=True)
    Latitude = Column(Float,nullable=True)
    Longitude = Column(Float,nullable=True)
    Category = Column(String(255),nullable=True)
    Sales = Column(Float,nullable=True)
    Profit = Column(Float,nullable=True)

In [20]:
# Create a sqlite engine
engine = create_engine("sqlite:///superstore.sqlite")

In [21]:
# Add metadata to tables
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

In [22]:
# Data from Excel to respective tables
Superstore.to_sql('Orders',engine, if_exists='append',index=True)

In [23]:
import plotly
import plotly.offline as pyo
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd

pyo.init_notebook_mode()

# df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv')
df_st = Superstore_agg.copy()

for col in df_st.columns:
    df_st[col] = df_st[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

df_st['text'] = df_st['State'] + '<br>' + \
    'Profit' + df_st['Profit'] + ' Sales ' + df_st['Sales']

data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = True,
    locations = df_st['Code'],
    z = df_st['Profit'].astype(float),
    locationmode = 'USA-states',
    text = df_st['text'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "Sale&Profit$$")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = 'Superstore'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
pyo.iplot(fig, filename = 'test')
# py.iplot(fig, filename = 'd3-cloropleth-map')

ModuleNotFoundError: No module named 'plotly'