In [1]:
# Dependecies
import pandas as pd

In [2]:
# Read the file
superstore = "Superstore.xls"
superstore_df = pd.read_excel(superstore)

In [3]:
superstore_df.head(2)

,Order Date,Ship Date,Ship Mode,Segment,City,State,Region,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,2013-11-09,2013-11-12,Second Class,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2013-11-09,2013-11-12,Second Class,Consumer,Henderson,Kentucky,South,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [44]:
Superstore = superstore_df[["City", "State", "Category", "Sales", "Profit"]]
Superstore

               City           State         Category     Sales    Profit
0         Henderson        Kentucky        Furniture   261.960   41.9136
1         Henderson        Kentucky        Furniture   731.940  219.5820
2       Los Angeles      California  Office Supplies    14.620    6.8714
3           Concord  North Carolina  Office Supplies    15.552    5.4432
4           Seattle      Washington  Office Supplies   407.976  132.5922
5           Fremont        Nebraska  Office Supplies    19.460    5.0596
6           Fremont        Nebraska  Office Supplies    60.340   15.6884
7      Philadelphia    Pennsylvania        Furniture    71.372   -1.0196
8       Los Angeles      California  Office Supplies    11.648    4.2224
9       Los Angeles      California       Technology    90.570   11.7741
10          Houston           Texas  Office Supplies    29.472    9.9468
11       Richardson           Texas       Technology  1097.544  123.4737
12       Richardson           Texas        Furniture   190.920 -147.9630
13       Naperville        Illinois       Technology   147.168   16.5564
14      Los Angeles      California  Office Supplies    77.880    3.8940
15        Melbourne         Florida  Office Supplies    95.616    9.5616
16            Eagan       Minnesota       Technology    45.980   19.7714
17            Eagan       Minnesota  Office Supplies    17.460    8.2062
18            Dover        Delaware       Technology    45.000    4.9500
19            Dover        Delaware       Technology    21.800    6.1040
20    New York City        New York  Office Supplies    15.260    6.2566
21    New York City        New York       Technology  1029.950  298.6855
22             Troy        New York  Office Supplies   208.560   52.1400
23             Troy        New York  Office Supplies    32.400   15.5520
24             Troy        New York        Furniture   319.410    7.0980
25             Troy        New York  Office Supplies    14.560    6.9888
26             Troy        New York       Technology    30.000    3.3000
27             Troy        New York  Office Supplies    48.480   16.3620
28             Troy        New York  Office Supplies     1.680    0.8400
29      Springfield        Virginia  Office Supplies    75.880   35.6636
...             ...             ...              ...       ...       ...
5869   Indianapolis         Indiana  Office Supplies  2405.200  793.7160
5870   Indianapolis         Indiana       Technology    83.970   15.9543
5871   Indianapolis         Indiana       Technology    39.890   14.7593
5872   Indianapolis         Indiana  Office Supplies    17.380    8.6900
5873       Chandler         Arizona  Office Supplies     9.344    1.8688
5874       Florence        Kentucky       Technology    18.000    3.2400
5875         Newark        Delaware        Furniture    13.400    6.4320
5876         Newark        Delaware  Office Supplies     4.980    2.3406
5877         Newark        Delaware  Office Supplies   109.690   51.5543
5878     Plainfield      New Jersey  Office Supplies    40.200   18.0900
5879     Plainfield      New Jersey  Office Supplies   735.980  331.1910
5880     Plainfield      New Jersey  Office Supplies    22.750    6.5975
5881        Houston           Texas  Office Supplies    99.568   33.6042
5882    Los Angeles      California       Technology   271.960   27.1960
5883    Los Angeles      California  Office Supplies    18.690    5.2332
5884    Los Angeles      California  Office Supplies    13.360    6.4128
5885    Los Angeles      California       Technology   249.584   31.1980
5886    Los Angeles      California  Office Supplies    13.860    0.0000
5887    Los Angeles      California  Office Supplies    13.376    4.6816
5888    Los Angeles      California  Office Supplies   437.472  153.1152
5889      Fairfield            Ohio  Office Supplies    16.520    5.3690
5890   Grand Rapids        Michigan  Office Supplies    35.560   16.7132
5891   Grand Rapids        Michigan       Technology    97.980   27.4344
5892    Los Angeles      California       Technology    36.240   15.2208
5893         Athens         Georgia       Technology    79.990   28.7964
5894         Athens         Georgia       Technology   206.100   55.6470
5895     Costa Mesa      California        Furniture    91.960   15.6332
5896     Costa Mesa      California       Technology   258.576   19.3932
5897     Costa Mesa      California  Office Supplies    29.600   13.3200
5898    Westminster      California  Office Supplies   243.160   72.9480

[5899 rows x 5 columns]

In [67]:
# SQLAlchemy dependencies 

# To create engine & declarative base 
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

# For data types
from sqlalchemy import Column, Integer, String, Float, Date

# Create base
Base = declarative_base()

In [73]:
Base.metadata.clear()
# Creates Classes which will serve as the anchor points for our Tables
class Orders(Base):
    __table_args__ = {'extend_existing': True}
    __tablename__ = 'Orders'
    index = Column(String, primary_key=True)
    City = Column(String(255),nullable=True)
    State = Column(String,nullable=True)
    Category = Column(String(255),nullable=True)
    Sales = Column(Float,nullable=True)
    Profit = Column(Float,nullable=True)

In [74]:
# Create a sqlite engine
engine = create_engine("sqlite:///superstore.sqlite")

In [75]:
# Add metadata to tables
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

In [76]:
# Data from Excel to respective tables
Superstore.to_sql('Orders',engine, if_exists='append',index=True)